@use 'variables' as *;

.btn-primary {
  width: fit-content;
  font-size: 18px;
  padding: 12px 24px;
  background-color: $neon-green;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgb(0, 0, 0, 0.3));
  transition: transform 0.2s ease, background-color 0.2s ease;

  &:hover {
    background-color: $bright-purple;
  }

  &:disabled {
    background-color: grey;
  }
}

.btn-action {
  color: white;
  background-color: $bright-purple;
  text-decoration: none;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background-color: $neon-green;
  }
}

.btn-link {
  color: white;
  background-color: transparent;
  text-decoration: none;
  padding: 10px 22px;
  font-size: 16px;
  border: 2px solid $neon-green;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background-color: $neon-green;
  }
}

.transform-top-center {
  transform-origin: top center;
  &:hover {
    letter-spacing: 0.5px;
    transform: scale(1.2);
    > span {
      font-size: 16px;
    }
  }
}

.transform-top-right {
  transform-origin: top right;
  &:hover {
    letter-spacing: 0.5px;
    transform: scale(1.2);
    > span {
      font-size: 16px;
    }
  }
}

.arrow-up {
  width: 100%;
  height: auto;
  padding: 0 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  > button {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    background-image: url('/images/icons/arrow_up.svg');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    &:hover {
      background-image: url('/images/icons/arrow_up_green.svg');
      border: 2px solid $neon-green;
    }
  }
}

.hero-sm-btn {
  background-color: transparent;
  border: none;
  pointer-events: all;
  transition: all 0.2s ease;
  &:hover {
    letter-spacing: 0.5px;
    transform: scale(1.2);
    > span {
      font-size: 16px;
    }
  }

  > img {
    height: 36px;
    width: 36px;
    cursor: pointer;
  }
}
