<section class="contact scroll-margin max-width" id="contact">
    <div class="contact-title">
        <div class="divider"></div>
        <h2 class="headline">{{contact.TITLE}}</h2>
    </div>
    <div class="contact-form-container site-padding">
        <div class="contact-text">
            <h3>{{contact.SUBTITLE}}</h3>
            <p>{{contact.DESCRIPTION[0]}}</p>
            <p>{{contact.DESCRIPTION[1]}} <b>{{contact.DESCRIPTION[2]}}</b></p>
        </div>
        <div class="container">
            <form action="action_page.php" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <div class="input-container">
                    <input (blur)="trimWhitespace($event)" #userName="ngModel" class="contact-input"
                        [(ngModel)]="contactData.name" type="text" id="name" name="name"
                        placeholder={{contact.INPUTS[0]}} minlength="3" maxlength="40"
                        [ngClass]="{'is-uninvalid' : userName.invalid && userName.touched, 'is-invalid' : userName.valid && userName.touched}"
                        required>
                    <div class="privacy-warning">
                        @if (userName.invalid && userName.touched) {<span>Please enter your Name!</span>}
                        @if (userName.touched && userName.invalid) {
                        <img class="exclamation-mark" src="/images/icons/input_warning.svg" alt="input warning">
                        }
                        @if (userName.touched && userName.valid) {
                        <img class="exclamation-mark" src="/images/icons/input_valid.svg" alt="input valid">
                        }
                    </div>
                </div>
                <div class="input-container">
                    <input (blur)="trimWhitespace($event)" #userMail="ngModel" class="contact-input"
                        [(ngModel)]="contactData.email" type="text" id="email" name="lastname"
                        placeholder={{contact.INPUTS[1]}}
                        [ngClass]="{'is-uninvalid' : userMail.invalid && userMail.touched, 'is-invalid' : userMail.valid && userMail.touched}"
                        pattern="[\-a-zA-Z0-9~!$%^&amp;*_=+\}\{'?]+(\.[\-a-zA-Z0-9~!$%^&amp;*_=+\}\{'?]+)*@[a-zA-Z0-9_][\-a-zA-Z0-9_]*(\.[\-a-zA-Z0-9_]+)*\.[cC][oO][mM](:[0-9]{1,5})?"
                        maxlength="40" required>
                    <div class="privacy-warning">
                        @if (!userMail.valid && userMail.touched) {<span>Please enter a email!</span>}
                        @if (userMail.touched && userMail.invalid) {
                        <img class="exclamation-mark" src="/images/icons/input_warning.svg" alt="input warning">
                        }
                        @if (userMail.touched && userMail.valid) {
                        <img class="exclamation-mark" src="/images/icons/input_valid.svg" alt="input valid">
                        }
                    </div>
                </div>
                <div class="input-container">
                    <textarea id="message" (blur)="trimWhitespace($event)" #message="ngModel"
                        [(ngModel)]="contactData.message" class="contact-input" name="subject"
                        placeholder={{contact.INPUTS[2]}} style="height:200px" minlength="5" maxlength="800"
                        [ngClass]="{'is-uninvalid' : message.invalid && message.touched, 'is-invalid' : message.valid && message.touched}"
                        required></textarea>
                    <div class="privacy-warning">
                        @if (message.invalid && message.touched && !message.disabled) {
                        <span>Your message is empty</span>}
                        @if (message.touched && message.invalid) {
                        <img class="exclamation-mark" src="/images/icons/input_warning.svg" alt="input warning">
                        }
                        @if (message.touched && message.valid) {
                        <img class="exclamation-mark" src="/images/icons/input_valid.svg" alt="input valid">
                        }
                    </div>
                </div>
                <div class="privacy">
                    <label class="privacy-container">
                        <input name="privacyAccepted" #pivacyBtn="ngModel" type="checkbox"
                            [(ngModel)]="contactData.privacyAccepted" type="checkbox" required>
                        <span class="privacy-span">
                            {{contact.PRIVACY.TEXT[0]}}
                            <a routerLink="/privacy">{{contact.PRIVACY.TEXT[1]}}</a>
                            {{contact.PRIVACY.TEXT[2]}}
                        </span>
                    </label>
                    @if (pivacyBtn.invalid && pivacyBtn.touched) {
                    <p class="privacy-warning">{{contact.PRIVACY.WARNING}}</p>}
                </div>
                <div class="submit-container">
                    <button id="submit-btn" class="btn-primary" [ngClass]="{'transform-top-center' : contactForm.valid}"
                        type="submit" [disabled]="contactForm.invalid">
                        <span>{{contact.BTN}}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="arrow-up"><a href="#hero"></a></div>
</section>