@use '../../styles/variables' as *;
@use '../../styles/buttons' as *;

.contact {
  scroll-margin-top: 160px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}

.contact-title {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.headline {
  grid-column: 2;
}

.divider {
  height: 3px;
  background-color: $bright-purple;
  margin-right: 40px;
  grid-column: 1;
}

.contact-form-container {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  gap: 60px;

  @media (max-width: 930px) {
    flex-direction: column;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.contact-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (max-width: 930px) {
    width: 100%;
  }

  @media (max-width: 360px) {
    font-size: 14px;
  }
}

.container {
  width: 50%;

  @media (max-width: 930px) {
    width: 100%;
  }
}

form {
  display: flex;
  flex-direction: column;
}

.input-container {
  width: 100%;
  margin-bottom: 16px;
  background-color: transparent;
  border: 1px solid $bright-purple;
  border-radius: 6px;
  padding: 8px;
  color: white;
  cursor: pointer;
  outline: none;
  &:hover {
    border: 1px solid $neon-green;
  }
  &::placeholder {
    color: white;
  }
}

.input-error {
  border: 2px solid red;
}

.input-true {
  border: 2px solid $neon-green;
}

.submit-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.privacy-container {
  font-size: 12px;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  > a {
    cursor: pointer;
    color: $bright-purple;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  > input[type='checkbox'] {
    appearance: none;
    min-width: 22px;
    min-height: 22px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    background-image: url('/images/icons/checkbox_empty.svg');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    &:hover {
      background-color: $purple;
    }
    &:checked {
      background-image: url('/images/icons/checkbox_checked.svg');
    }
  }
  @media (max-width: 1200px) {
    align-items: baseline;
  }
}

.privacy-span {
  position: relative;
  bottom: 6px;
}

.privacy {
  height: 52px;
  width: auto;
  margin-bottom: 32px;
  > p {
    margin-top: 4px;
  }
}

.privacy-warning {
  color: red;
  font-size: 12px;
  margin-bottom: 24px;
}
