@use '../../styles/variables' as *;
@use '../../styles/buttons' as *;

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin-bottom: 80px;
}

.contact-title {
  width: 100%;
  display: flex;
  align-items: center;
}

.headline {
  flex: 2;
}

.divider {
  height: 3px;
  flex: 1;
  background-color: $bright-purple;
  margin-right: 40px;
}

.contact-form-container {
  display: flex;
}

.contact-form-container {
  width: 100%;
  padding: 60px 80px;
  display: flex;
  gap: 60px;
}

.contact-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container {
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
}

.input-container {
  width: 100%;
  margin-bottom: 16px;
  background-color: transparent;
  border: 1px solid $bright-purple;
  border-radius: 6px;
  padding: 8px;
  color: white;
  cursor: pointer;
  outline: none;
  &:hover {
    border: 1px solid $neon-green;
  }
  &::placeholder {
    color: white;
  }
}

.input-error {
  border: 2px solid red;
}

.input-true {
  border: 2px solid $neon-green;
}

.submit-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.privacy-container {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  > a {
    cursor: pointer;
    color: $bright-purple;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  > input[type='checkbox'] {
    appearance: none;
    width: 22px;
    height: 22px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    background-image: url('/images/icons/checkbox_empty.svg');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    &:hover {
      background-color: $purple;
    }
    &:checked {
      background-image: url('/images/icons/checkbox_checked.svg');
    }
  }
}

.privacy {
  height: 52px;
  width: auto;
  margin-bottom: 32px;
  > p {
    margin-top: 4px;
  }
}

.privacy-warning {
  color: red;
  font-size: 12px;
  margin-bottom: 24px;
}
