<section class="project-card" [style]="{'flex-direction' : direction}">
    <div class="mockup">
        <img src="/images/mockups/{{card.img}}" alt="">
    </div>
    <div class="project-info"
        [style]="direction == 'row-reverse' ? {'align-items': 'end'} : {'align-items': 'baseline'}">
        <h3>{{card.name}}</h3>
        <p class="tech-stack">
            @for (item of card.techstack; track $index) {
            {{item}}
            @if ($index < card.techstack.length - 1) { | } } </p>
                <span class="description"
                    [style]="direction == 'row-reverse' ? {'text-align': 'right'} : {'text-align': 'left'}">
                    {{card.description}}
                </span>
                <div class="project-btns">
                    <a class="btn-action" href="{{card.links.live}}" target="_blank">Live test</a>
                    <a class="btn-link" href="{{card.links.github}}" target="_blank">Git Hub</a>
                </div>
    </div>
</section>