@use '../../../styles/variables' as *;
@use '../../../styles/buttons' as *;

h3 {
  color: $bright-purple;
}

.project-card {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 40px;

  @media (max-width: 930px) {
    flex-direction: column !important;
    gap: 0;
    align-items: center;
  }
}

.mockup {
  display: flex;
  align-items: flex-start;

  > img {
    height: 320px;
    width: 320px;
    position: relative;
    top: -60px;
    pointer-events: none;
  }

  @media (max-width: 930px) {
    > img {
      height: auto;
      width: 320px;
      position: inherit;
      top: 0;
      pointer-events: none;
    }
  }
}

.project-info {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 12px;

  @media (max-width: 930px) {
    align-items: center !important;
  }
}

.tech-stack {
  color: $neon-green;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
}

.description {
  font-size: 16px;

  @media (max-width: 930px) {
    text-align: center !important;
  }
}

.project-btns {
  margin-top: 16px;
  display: flex;
  gap: 56px;
}
