@use '../../../styles/variables' as *;
@use '../../../styles/buttons' as *;

h3 {
  color: $bright-purple;
}

.project-card {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.mockup {
  display: flex;
  align-items: flex-start;
  > img {
    height: 320px;
    width: 320px;
    position: relative;
    top: -60px;
  }
}

.project-info {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 12px;
}

.tech-stack {
  color: $neon-green;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
}

.description {
  font-size: 16px;
}

.project-btns {
  margin-top: 16px;
  display: flex;
  gap: 56px;
}
