@use '../styles/variables' as *;
@use '../styles/buttons' as *;

footer {
  width: 100%;
  height: 280px;
  background-color: $bg-darkblue;
  border-top: 4px solid $neon-green;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-sm-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 60px;
}

.legal-notice {
  width: 100%;
  > a {
    font-size: 14px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      text-decoration-color: $neon-green;
      text-underline-offset: 6px;
    }
  }
}
