@use '../styles/variables' as *;
@use '../styles/buttons' as *;

footer {
  width: 100%;
  background-color: $bg-darkblue;
  border-top: 4px solid $neon-green;
  display: flex;
  justify-content: center;
}

.footer-container {
  width: 100%;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 728px) and (orientation: portrait) {
    height: 368px;
  }
}

.logo-sm-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 728px) and (orientation: portrait) {
    flex-direction: column;
    gap: 32px;
    margin-bottom: 16px;
  }

  @media (max-width: 360px) {
    font-size: 14px;
  }
}

.logo {
  height: 60px;
}

.legal-notice {
  width: 100%;
  > a {
    font-size: 14px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      text-decoration-color: $neon-green;
      text-underline-offset: 6px;
    }
  }

  @media (max-width: 728px) and (orientation: portrait) {
    display: flex;
    justify-content: center;
  }
}
