@use '../styles/variables' as *;

.navbar {
  width: 100%;
  position: fixed;
  background-color: $bg-darkblue;
  padding-bottom: 24px;
  display: flex;
  justify-content: center;
  z-index: 100;
}

.navbar-container {
  width: 100%;
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}

.navbar-logo {
  height: 40px;
}

.navbar-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 300;
}

.navbar-links {
  margin-right: 80px;
  display: flex;
  gap: 24px;

  > a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    &:hover {
      color: $neon-green;
    }
  }
}

.navbar-languages {
  display: flex;
  gap: 16px;
}

.lang-btn-off {
  font-size: 16px;
  color: white;
  width: 40px;
  height: 32px;
  background-color: transparent;
  border: none;
  border: 2px solid $neon-green;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background-color: $bright-purple;
    border: 2px solid $bright-purple;
  }
}

.lang-btn-on {
  background-color: $neon-green;
  font-size: 16px;
  color: white;
  width: 40px;
  height: 32px;
  border: none;
  border: 2px solid $neon-green;
  border-radius: 10px;
  cursor: pointer;
}
