@use '../../styles/variables' as *;
@use '../../styles/buttons' as *;

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-bottom: 224px;
}

.hero-img {
  height: 100%;
  width: auto;
  display: flex;
  align-items: flex-end;
}

.profil-pic {
  height: 80%;
  width: auto;
  object-fit: cover;
}

.shadow-container {
  height: 600px;
  width: auto;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  left: 0;
  > img {
    height: 100%;
    width: auto;
    object-fit: cover;
    position: relative;
    bottom: -120px;
  }
}

.hero_greetings {
  height: 100%;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero_text {
  display: flex;
}

.hero_iam {
  writing-mode: vertical-lr;
  -webkit-transform: rotate(-180deg);
  font-size: 58px;
  margin-bottom: 8px;
}

.hero-titel {
  display: flex;
  flex-direction: column;
  line-height: 1.2;

  h1 {
    font-size: 80px;
  }

  span {
    font-size: 50px;
    text-transform: uppercase;
    color: #9747ff;
  }
}

.overlay-container {
  height: 500px;
  right: 0;
  left: 0;
  bottom: 0;
  width: auto;
  z-index: 10;
  position: absolute;
  pointer-events: none;
  background-image: url('/images/hero_bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
