@use '../../styles/variables' as *;
@use '../../styles/buttons' as *;

.hero {
  width: 100%;
  height: 100vh;
  max-width: 1440px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 240px;
  padding: 0 80px;
}

.hero-img {
  left: 40px;
  height: 100vh;
  width: 500px;
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.profil-pic {
  width: 100%;
  z-index: 1;
}

.hero-shadow {
  position: absolute;
  width: 500px;
}

// .hero-img {
//   height: 100vh;
//   width: auto;
//   display: flex;
//   align-items: flex-end;
// }

// .profil-pic {
//   height: auto;
//   width: 520px;
//   object-fit: cover;
// }

// .shadow-container {
//   height: 600px;
//   width: auto;
//   position: absolute;
//   overflow: hidden;
//   z-index: -1;
//   left: 0;
//   > img {
//     height: 100%;
//     width: auto;
//     object-fit: cover;
//     position: relative;
//     bottom: -120px;
//   }
// }

.hero_greetings {
  z-index: 2;
  height: 100%;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero_text {
  display: flex;
}

.hero_iam {
  writing-mode: vertical-lr;
  -webkit-transform: rotate(-180deg);
  font-size: 58px;
  margin-bottom: 8px;
}

.hero-titel {
  display: flex;
  flex-direction: column;
  line-height: 1.2;

  h1 {
    font-size: 80px;
  }

  span {
    font-size: 50px;
    text-transform: uppercase;
    color: #9747ff;
  }
}

.overlay-container {
  height: 500px;
  right: 0;
  left: 0;
  bottom: 0;
  width: auto;
  z-index: 10;
  position: absolute;
  pointer-events: none;
  background-image: url('/images/hero_bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
