@use '../../styles/variables' as *;
@use '../../styles/buttons' as *;

.hero {
  width: 100%;
  height: 100svh;
  display: grid;
  grid-template-rows: minmax(0, 1fr) auto;
  overflow-x: hidden;
  margin-bottom: 120px;

  @media (max-width: 665.5px) {
    margin-bottom: 120px;
  }
}

.hero-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;

  @media (max-width: 1280px) and (orientation: portrait) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
  }
}

.hero-img {
  position: relative;
  height: 100%;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.profil-pic {
  width: 100%;
  max-height: 75vh;
  object-fit: contain;
  display: block;
  z-index: 1;

  @media (max-width: 1280px) and (orientation: portrait) {
    max-height: 60vh;
  }
}

.arm-pic {
  position: absolute;
  z-index: 3 !important;
  width: 100%;
  max-height: 75vh;
  object-fit: contain;
  display: block;
  z-index: 1;

  @media (max-width: 1280px) and (orientation: portrait) {
    max-height: 60vh;
  }
}

.hero-shadow {
  position: absolute;
  width: 100%;
  max-height: 75vh;
  object-fit: contain;
  display: block;
}

.hero-greetings {
  z-index: 3 !important;
  min-width: max-content;
  padding-right: 80px;
  padding-top: 40px;
  z-index: 2;
  height: 100%;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (max-width: 1280px) and (orientation: portrait) {
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 54px;
    z-index: 3;
  }
}

.hero_text {
  display: flex;
}

.hero-titel {
  display: flex;
  flex-direction: column;
  line-height: 1.2;

  > h1 {
    font-size: 80px;
  }

  > span {
    font-size: 50px;
    text-transform: uppercase;
    color: $bright-purple;
  }

  @media (max-width: 1024px) and (orientation: landscape) {
    > h1 {
      font-size: 56px;
    }
    > span {
      font-size: 36px;
    }
  }

  @media (max-width: 728px) and (orientation: portrait) {
    > h1 {
      font-size: 68px;
    }
    > span {
      font-size: 43px;
    }
  }

  @media (max-width: 600px) {
    > h1 {
      font-size: 56px;
    }
    > span {
      font-size: 36px;
    }
  }

  @media (max-width: 500px) {
    > h1 {
      font-size: 48px;
    }
    > span {
      font-size: 31px;
    }
  }

  @media (max-width: 420px) {
    > h1 {
      font-size: 40px;
    }
    > span {
      font-size: 25.5px;
    }
  }

  @media (max-width: 360px) {
    > h1 {
      font-size: 36px;
    }
    > span {
      font-size: 23px;
    }
  }
}

.hero_iam {
  writing-mode: vertical-lr;
  -webkit-transform: rotate(-180deg);
  font-size: 58px;
  margin-bottom: 8px;
  display: inline-block;
  width: fit-content;
  line-height: 1;
  margin-right: 8px;

  @media (max-width: 1024px) and (orientation: landscape) {
    font-size: 41px;
  }

  @media (max-width: 728px) and (orientation: portrait) {
    font-size: 50px;
  }

  @media (max-width: 600px) {
    font-size: 41px;
  }

  @media (max-width: 500px) {
    font-size: 35px;
  }

  @media (max-width: 420px) {
    font-size: 28px;
  }

  @media (max-width: 360px) {
    font-size: 24px;
  }
}

.overlay-container {
  height: 500px;
  right: 0;
  left: 0;
  bottom: 0;
  width: auto;
  z-index: 10;
  position: absolute;
  pointer-events: none;
  background-image: url('/images/hero_bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-footer {
  z-index: 3;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
  padding-bottom: 8px;

  @media (max-width: 665.5px) {
    position: absolute;
    z-index: 3 !important;
    bottom: -80px;
  }
}

.devider {
  width: 48px;
  height: 3px;
  background-color: $bright-purple;

  @media (max-width: 1280px) and (orientation: portrait) {
    width: 100%;
  }
}

.social-links {
  display: flex;
  align-items: center;
  gap: 32px;

  > span {
    font-size: 18px;
  }

  @media (max-width: 1280px) and (orientation: portrait) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    gap: 16px;
    width: 100%;
    > span {
      display: none;
    }
  }
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 16px;

  @media (max-width: 1280px) and (orientation: portrait) {
    justify-content: space-between;
  }
}

.scroll-down {
  width: 100%;
  max-width: 1680px;
  padding-right: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  position: absolute;
  right: 80px;
  bottom: 16px;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  align-items: flex-end;
  gap: 8px;
  font-size: 18px;

  > p {
    font-size: 24px;
    writing-mode: vertical-rl;
    margin-left: 4px;
  }

  > img {
    transform: rotate(180deg);
    height: 24px;
    width: auto;
    margin-right: 9px;
  }

  @media (max-width: 1024px) and (orientation: landscape) {
    display: none;
  }

  @media (max-width: 1280px) and (orientation: portrait) {
    display: none;
  }
}

.hero-curve {
  max-width: 1680px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  right: 0;
  width: 100%;
  pointer-events: none;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: visible;
  bottom: -680px;

  @media (max-width: 1280px) and (orientation: portrait) {
    bottom: -400px;
  }

  @media (max-width: 666px) and (orientation: portrait) {
    bottom: -490px;
  }

  @media (max-width: 420px) and (orientation: portrait) {
    bottom: -520px;
  }
}

.curve-img {
  min-width: 1680px;
  height: auto;
  display: block;
  object-position: right bottom;
}
