@use '../../styles/variables' as *;
@use '../../styles/buttons' as *;

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 260px;
  background-color: $bg-darkblue;
  @media (max-width: 1080px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.hero-curve {
  z-index: 2;
  top: 43%;
  position: absolute;
  width: 100%;
  pointer-events: none;

  @media (max-width: 1080px) {
    top: 54%;
  }
}

.hero-img {
  left: 40px;
  height: auto;
  max-width: 740px;
  width: 50%;
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  top: 20%;
  pointer-events: none;

  @media (max-width: 1280px) {
    width: 42%;
  }

  @media (max-width: 1280px) and (orientation: portrait) {
    top: 28%;
    width: 45%;
  }

  @media (max-width: 1080px) {
    position: absolute;
    max-width: none;
    width: 100%;
    min-height: 100vh;
    inset: 0;
    flex-direction: column;
    justify-content: center;
  }
}

.profil-pic {
  width: 100%;
  z-index: 1;
  @media (max-width: 1080px) {
    width: 80%;
    padding-bottom: 140px;
  }
}

.profil-arm {
  position: absolute;
  width: 100%;
  z-index: 3;

  @media (max-width: 1080px) {
    width: 80%;
    padding-bottom: 140px;
  }
}

.hero-shadow {
  position: absolute;
  width: 100%;
}

.hero-greetings {
  padding-right: 80px;
  z-index: 2;
  height: 100%;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: -8%;

  @media (max-width: 1080px) {
    z-index: 3;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    top: 0;
    padding: 0;
    padding-bottom: 56px;
  }
}

.hero_text {
  display: flex;
}

.hero_iam {
  writing-mode: vertical-lr;
  -webkit-transform: rotate(-180deg);
  font-size: 58px;
  margin-bottom: 8px;
}

.hero-titel {
  display: flex;
  flex-direction: column;
  line-height: 1.2;

  h1 {
    font-size: 80px;
  }

  span {
    font-size: 50px;
    text-transform: uppercase;
    color: #9747ff;
  }
}

.overlay-container {
  height: 500px;
  right: 0;
  left: 0;
  bottom: 0;
  width: auto;
  z-index: 10;
  position: absolute;
  pointer-events: none;
  background-image: url('/images/hero_bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-footer {
  position: relative;
  z-index: 2;
  width: 100%;
  justify-content: space-between;
  display: flex;
  bottom: 200px;
}

.devider {
  width: 48px;
  height: 3px;
  background-color: $bright-purple;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 32px;

  > span {
    font-size: 24px;
  }
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.scroll-down {
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 18px;

  > p {
    font-size: 24px;
    writing-mode: vertical-rl;
    margin-left: 4px;
  }

  > img {
    transform: rotate(180deg);
    height: 24px;
    width: auto;
  }
}
