@use '../../styles/variables' as *;

.about {
  scroll-margin-top: 160px;
  position: relative;
  z-index: 10;
  width: 100%;
  height: auto;
  margin: 60px 0px;
  display: flex;
  gap: 80px;
}

h2 {
  line-height: 1;
  margin-bottom: 40px;
}

.about-content {
  width: 50%;
  padding-left: 60px;

  @media (max-width: 1080px) {
    width: 55%;
  }

  @media (max-width: 930px) {
    width: 100%;
    padding: 0 48px;
  }

  @media (max-width: 600px) {
    width: 100%;
    padding: 0 32px;
  }

  @media (max-width: 360px) {
    width: 100%;
    padding: 0 24px;
    font-size: 14px;
  }
}

.about-mindset-text {
  @media (max-width: 930px) {
    padding-right: 35%;
  }

  @media (max-width: 768px) {
    padding-right: 0px;
  }

  @media (max-width: 360px) {
    font-size: 14px;
  }
}

.about-description {
  margin-bottom: 40px;
}

.about-mindset {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-mindset-item {
  display: flex;
  font-size: 16px;
}

.about-icon-wrapper {
  width: 48px !important;
  height: auto;
  flex-shrink: 0;

  > img {
    display: block;
  }
}

.about-image {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  @media (max-width: 1080px) {
    width: 40%;
  }

  @media (max-width: 930px) {
    display: none;
  }

  > img {
    height: 340px;
    border-radius: 50%;
    border: 3px solid $neon-green;
    @media (max-width: 1080px) {
      height: 300px;
    }
  }
  > div {
    height: 3px;
    flex-grow: 1;
    background-color: $neon-green;
  }
}
