@use '../../styles/variables' as *;

.about {
  position: relative;
  z-index: 10;
  width: 100%;
  height: auto;
  display: flex;
  gap: 80px;
  background-image: url('/images/shadows/purple_shadow_aboutme.svg');
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: right -200px top;
}

.title {
  width: 100%;
}

.h2-transition {
  > h2 {
    transform: translateX(0);
  }
}

h2 {
  line-height: 1;
  margin-bottom: 40px;
  transition: all 0.35s ease;
  transform: translateX(-100vw);
}

.about-content {
  width: 50%;
  padding-left: 60px;
  padding-bottom: 60px;
  overflow: hidden;

  @media (max-width: 1080px) {
    width: 55%;
  }

  @media (max-width: 930px) {
    width: 100%;
    padding: 0 48px 60px 48px;
  }

  @media (max-width: 600px) {
    width: 100%;
    padding: 0 32px 60px 32px;
  }

  @media (max-width: 360px) {
    width: 100%;
    padding: 0 24px 48px 24px;
    font-size: 14px;
  }
}

.about-mindset-text {
  @media (max-width: 930px) {
    padding-right: 35%;
  }

  @media (max-width: 768px) {
    padding-right: 0px;
  }

  @media (max-width: 360px) {
    font-size: 14px;
  }
}

.about-description {
  margin-bottom: 40px;
}

.about-mindset {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-mindset-item {
  display: flex;
  font-size: 16px;
}

.about-icon-wrapper {
  width: 48px !important;
  height: auto;
  flex-shrink: 0;

  > img {
    display: block;
  }
}

.about-image {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  @media (max-width: 1080px) {
    width: 40%;
  }

  @media (max-width: 930px) {
    display: none;
  }

  > img {
    height: 340px;
    border-radius: 50%;
    border: 3px solid $neon-green;
    transition: all 0.35s ease;
    transform: scale(0);
    transform-origin: center right;
    @media (max-width: 1080px) {
      height: 300px;
    }
  }
  > div {
    height: 3px;
    flex-grow: 1;
    background-color: $neon-green;
  }
}

.profil-img-animate {
  transform: scale(1) !important;
}

.bg-shadow-aboutme {
  position: absolute;
  height: 400px;
  width: 400px;
  right: -100px;
}

.opacity1 {
  opacity: 1;
}
