@use '../../styles/variables' as *;

.about {
    position: relative;
    z-index: 10;
    width: 100%;
    height: auto;
    margin: 60px 0px;
    display: flex;
    gap: 80px;
}

h2 {
    line-height: 1;
    margin-bottom: 40px;
}

.about-content {
    width: 50%;
    padding-left: 60px;
}

.about-image {}

.about-description {
    margin-bottom: 40px;
}

.about-mindset {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about-mindset-item {
    display: flex;
    font-size: 16px;
}

.about-icon-wrapper {
    width: 48px !important;
    height: auto;
    flex-shrink: 0;

    >img {
        display: block;
    }
}

.about-image {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    > img {
        height: 340px;
        border-radius: 50%;
        border: 3px solid $neon-green;
    }
    > div {
        height: 3px;
        flex-grow: 1;
        background-color: $neon-green;
    }
}