@use './styles/variables' as *;

main {
  background-size: 100%;
  width: 100%;
}

.shadow {
  height: 800px;
}

.layout-container {
  width: 100%;
  margin-inline: auto;
}

@media (min-width: 1680px) {
  .layout-container {
    max-width: 1680px;
  }
}
