@use './styles/variables' as *;

.layout-container {
  width: 100%;
  margin-inline: auto;
  background-color: $bg-darkblue;
  box-shadow: 0px 0px 100px rgb(0, 0, 0, 0.3);
}

/* Ab Ultrawide */
@media (min-width: 1680px) {
  .layout-container {
    max-width: 1680px;
  }
}
