<section class="privacy" id="privacy">
    <div class="arrow-container site-padding dNone-min-1081">
        <button routerLink="/" class="arrow-mobile"></button>
    </div>
    <div class="privacy-policy">
        <div class="devider-left">
            <div></div>
        </div>
        <h2>{{privacyText.TITLE.slice(0, 11)}}<wbr>{{privacyText.TITLE.slice(11, 20)}}</h2>
        <div class="devider-right">
            <div></div>
        </div>
    </div>
    <div class="info-section site-padding">
        <h4>1. {{privacyText.CONTROLLER.TITLE}}</h4>
        <p>
            {{privacyText.CONTROLLER.NAME}}<br>
            {{privacyText.CONTROLLER.STREET}}<br>
            {{privacyText.CONTROLLER.CITY}}<br>
            {{privacyText.CONTROLLER.COUNTRY}}
        </p>
        <div class="email-container">Email:<a href="mailto:HenningOtte91@gmail.com">
                {{privacyText.CONTROLLER.EMAIL}}</a></div>

        <div class="pivacy-info-container">
            <h4>2. {{privacyText.ACCESSDATA.TITLE}}</h4>
            <p>{{privacyText.ACCESSDATA.SUBTITLE}}</p>
            <ul>
                @for (item of privacyText.ACCESSDATA.BULLETPOINTS; track $index) {
                <li>{{item}}</li>
                }
            </ul>
            <p>{{privacyText.ACCESSDATA.TEXT}}</p>
        </div>

        <div class="pivacy-info-container">
            <h4>3. {{privacyText.CONTACTFORM.TITLE}}</h4>
            @for (item of privacyText.CONTACTFORM.TEXT; track $index) {
            <p>{{item}}</p>
            }
        </div>

        <div class="pivacy-info-container">
            <h4>4. {{privacyText.DATASTORAGE.TITLE}}</h4>
            <p>{{privacyText.DATASTORAGE.TEXT}}</p>
        </div>

        <div class="pivacy-info-container">
            <h4>5. {{privacyText.RIGHTS.TITLE}}</h4>
            <p>{{privacyText.RIGHTS.INTRO}}</p>
            <ul>
                @for (item of privacyText.RIGHTS.BULLETPOINTS; track $index) {
                <li>{{item}}</li>
                }
            </ul>
            <p>To exercise these rights, please contact me using the email address provided above.</p>
        </div>

        <div class="pivacy-info-container">
            <h4>6. {{privacyText.ENCRYPTION.TITLE}}</h4>
            <p>{{privacyText.ENCRYPTION.TEXT}}</p>
        </div>

        <div class="pivacy-info-container">
            <h4>7. {{privacyText.CHANGES.TITLE}}</h4>
            <p>{{privacyText.CHANGES.TEXT}}</p>
        </div>
        <div class="pivacy-info-container">
            <h4>{{privacyText.LASTUPDATED.TITLE}}</h4>
            <p>{{privacyText.LASTUPDATED.DATE}}</p>
        </div>
    </div>
</section>