@use '../../../styles/variables' as *;
@use '../../../styles/buttons' as *;

.hero {
    position: absolute;
    bottom: -230px;
    height: 100%;
    max-width: 1440px;
    left: 0;
    right: 0;
    background-image: url('/images/hero_bg.svg');
    pointer-events: none;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    z-index: 3;
}

.hero-curve {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.scroll-down {
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    font-size: 18px;

    >p {
        writing-mode: vertical-rl;
    }

    >img {
        transform: rotate(180deg);
        height: 16px;
        width: auto;
    }
}

.line {
    height: 3px;
    width: 80px;
    background-color: $bright-purple;
}

.sm-links {
    display: flex;
    align-items: center;
    gap: 12px;
}