@use '../../styles/variables' as *;
@use '../../styles/buttons' as *;

.my-skills {
  display: flex;
  justify-content: space-between;
  margin: 160px 0px;
  background-color: $bg-darkblue;
}

.skills-tree {
  margin-left: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 32px;
}

.skills-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
  cursor: pointer;
  > img {
    height: 40px;
    width: auto;
  }
  > span {
    font-size: 16px;
    white-space: normal;
  }
}

.icon-jumping {
  &:hover {
    > img {
      transition: transform 0.2s ease;
      transform: translateY(-10px);
    }
  }
}

.skills-content {
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.title {
  text-align: end;
  line-height: 1.1;
  margin-bottom: 16px;
}

.skills-description {  
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  >p {
    text-align: end;
  }
}

.continually-icon {
  color: $bright-purple;
  &:hover {
    color: white;
  }
}

.highlight {
  color: $bright-purple;
}

.skills-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  >h2 {
    margin-right: 16px;
  }
}

text {
  font-size: 16px;
}

.divider {
  width: 64px;
  height: 3px;
  background-color: $bright-purple;
}

.btn-primary {
  margin-top: 24px;
}