<section class="my-skills max-width">

    <div class="contact-mobile">
        <h3 class="subtitle site-padding">Looking for <span class="highlight">another skill</span>?</h3>
        <p class="text site-padding">
            Reveal enthusiasm for learning new technologies and frameworks.
        </p>
        <button class="btn-primary transform-top-center">
            <span>Get in touch</span>
        </button>
    </div>

    <div class="skills-tree">
        @for (item of MySkills.ICONS_LABELS; track $index) {
        @if (item == 'Continually learning') {
        <div class="skills-item continually-icon" (mouseover)="toggleImg(true)" (mouseout)="toggleImg(false)">
            <img [src]="hover == false ? '/images/icons/continually_icon.svg' : '/images/icons/continually_white_icon.svg'"
                alt="">
            <span>{{item}}</span>
        </div>
        } @else {
        <div class="skills-item icon-jumping">
            <img src="/images/icons/{{icons[$index]}}" alt="">
            <span [innerHTML]="item"></span>
        </div>
        }
        }
    </div>

    <div class="skills-content">
        <div class="skills-header">
            <h2 class="title">{{MySkills.HEADLINE}}</h2>
            <div class="divider"></div>
        </div>

        <div class="skills-description site-padding">
            <p class="text">
                {{MySkills.INTRO}}
            </p>
            <h3 class="subtitle dNone-930px">{{MySkills.LOOKING_FOR[0]}} <span
                    class="highlight">{{MySkills.LOOKING_FOR[1]}}</span>?
            </h3>
            <p class="text dNone-930px">{{MySkills.LEARNING}}</p>
            <button class="btn-primary transform-top-right dNone-930px">
                <span>Get in touch</span>
            </button>
        </div>
    </div>

</section>