@use '../../styles/variables' as *;
@use '../../styles/buttons' as *;

.my-skills {
  display: flex;
  justify-content: space-between;
  margin: 160px 0px;
  background-color: $bg-darkblue;
  @media (max-width: 930px) {
    flex-direction: column-reverse;
  }
}

.skills-tree {
  margin-left: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 32px;

  @media (max-width: 1080px) {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 48px;
  }

  @media (max-width: 930px) {
    width: 100%;
    margin-left: 0;
    margin-bottom: 48px;
    max-width: 700px;
    row-gap: 40px;
    margin-inline: auto;
  }
}

.skills-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
  cursor: pointer;
  > img {
    height: 40px;
    width: auto;
  }
  > span {
    font-size: 16px;
    white-space: normal;
  }
}

.icon-jumping {
  &:hover {
    > img {
      transition: transform 0.2s ease;
      transform: translateY(-10px);
    }
  }
}

.skills-content {
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media (max-width: 1080px) {
    margin-left: 40px;
  }

  @media (max-width: 930px) {
    margin-left: 0;
    margin-bottom: 56px;
  }
}

.title {
  text-align: end;
  line-height: 1.1;
  margin-bottom: 16px;
}

.skills-description {
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;

  > p {
    text-align: end;
  }

  @media (max-width: 1080px) {
    margin: 0 68px;
  }
}

.subtitle {
  text-align: end;
}

.continually-icon {
  color: $bright-purple;
  &:hover {
    color: white;
  }
}

.highlight {
  color: $bright-purple;
}

.skills-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  > h2 {
    margin-right: 16px;
  }
  @media (max-width: 930px) {
    margin-bottom: 32px;
  }
}

text {
  font-size: 16px;
}

.divider {
  width: 64px;
  height: 3px;
  background-color: $bright-purple;
  @media (max-width: 1080px) {
    width: 48px;
  }
}

.btn-primary {
  margin-top: 24px;
}

.contact-mobile {
  display: none;
  @media (max-width: 930px) {
    display: block;
    text-align: end;

    > h3 {
      margin-bottom: 16px;
      padding: 0 68px;
    }

    > .text {
      margin-bottom: 40px;
      padding: 0 68px;
    }

    > .btn-primary {
      display: block;
      margin-inline: auto;
    }
  }
}

.dNone-930px {
  @media (max-width: 930px) {
    display: none !important;
  }
}
