@use '../styles/variables' as *;

.navbar {
  position: fixed;
  width: 100%;
  height: 96px;
  background-color: $bg-darkblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  z-index: 100;
}

.navbar_logo {
  height: 40px;
}

.burger-menu {
  position: relative;
  height: 40px;
  width: 40px;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: white;
  pointer-events: none;
  transition: all 0.25s ease;
}

.rotate-top {
  position: absolute;
  transform: translateY(18px) rotate(45deg);
}

.rotate-bottom {
  position: absolute;
  transform: translateY(18px) rotate(-45deg);
}

.nav-links {
  margin-top: 96px;
  position: fixed;
  inset: 0;
  background-color: rgb(20, 29, 47, 0.5);
  font-size: 24px;
  transition: all 0.3s ease;
  transform: translateX(100vw);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  backdrop-filter: blur(10px);

  > a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: $neon-green;
    }
  }
}

.languages {
  > button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    &:hover {
      color: $neon-green;
    }
  }
}

.push-in-nav {
  transform: translateX(0);
}
