@use '../../styles/variables' as *;

.testimonials {
  margin-inline: auto;
  width: 100%;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  font-size: 16px;
  padding-bottom: 80px;

  @media (max-width: 1080px) {
    padding-left: 0px !important;
  }
}

.testimonial {
  position: relative;
  width: 100%;
  display: flex;
  gap: 40px;
  padding-left: 48px;
  animation-name: transition;
  animation-duration: 0.25s;

  @media (max-width: 930px) {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 0;
    padding: 0 48px;
  }

  @media (max-width: 600px) {
    padding: 0 32px;
  }
}

.double-quotes {
  position: absolute;
  width: 72px;
  top: -24px;
  left: -36px;
}

.content {
  position: relative;
  width: 60%;
  border-radius: 16px;
  border: 3px solid $neon-green;
  padding: 40px 56px;
  display: flex;
  flex-direction: column;

  @media (max-width: 1080px) {
    padding: 24px 40px;
    min-height: 280px;
  }

  @media (max-width: 930px) {
    width: 100%;
  }

  @media (max-width: 600px) {
    padding: 24px;
    min-height: 360px;
  }

  @media (max-width: 420px) {
    padding: 24px;
    min-height: 460px;
  }

  @media (max-width: 350px) {
    padding: 16px;
    min-height: 500px;
  }
}

.quote {
  flex-grow: 1;

  @media (max-width: 360px) {
    font-size: 14px;
  }
}

.author {
  display: flex;
  align-items: center;

  > span {
    margin-left: 16px;
    white-space: nowrap;
  }

  @media (max-width: 420px) {
    flex-direction: column;
    align-items: flex-start;

    > span {
      margin-top: 8px;
      margin-left: 0;
    }
  }

  @media (max-width: 360px) {
    font-size: 14px;
  }
}

.profile {
  width: 40%;
  height: auto;
  display: flex;
  align-items: center;

  @media (max-width: 930px) {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }
}

.profile-animate {
  > .avatar {
    transform: scale(1);
  }

  .divider {
    transform: scaleX(1);
  }
}

.avatar {
  transition: all 0.35s ease;
  transform: scale(0);
  transform-origin: center right;
  height: 240px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid $bright-purple;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 930px) {
    grid-column: 2;
    justify-self: center;
  }

  @media (max-width: 600px) {
    height: 200px;
  }
}

.divider {
  height: 4px;
  flex-grow: 1;
  background-color: $bright-purple;
  border-radius: 2px;
  transition: all 0.35s ease;
  transform: scaleX(0);
  transform-origin: center right;

  @media (max-width: 930px) {
    grid-column: 3;
    width: calc(100% + 48px) !important;
  }

  @media (max-width: 600px) {
    width: calc(100% + 32px) !important;
  }
}

.divider-author {
  height: 4px;
  flex-grow: 1;
  background-color: $bright-purple;
  border-radius: 2px;

  @media (max-width: 420px) {
    width: 64px;
  }
}

.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
}

.arrow-left {
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  background-image: url('/images/icons/arrow_left.svg');
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  border: none;
  cursor: pointer;
  &:hover {
    outline: 2px solid $neon-green !important;
  }
}

.arrow-right {
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  background-image: url('/images/icons/arrow_left.svg');
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  border: none;
  transform: rotate(180deg);
  cursor: pointer;
  &:hover {
    outline: 2px solid $neon-green !important;
  }
}

.dots {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0 24px;
}

.dot {
  height: 6px;
  width: 6px;
  background-color: $bright-purple;
  border-radius: 50%;
}

.active {
  background-color: $neon-green !important;
}

@keyframes transition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
