<section class="testimonials max-width">
    @for (item of arrTestimonials; track $index) {
    <div *ngIf="$index == currentIndex" class="testimonial">
        <img class="double-quotes" src="/images/icons/double_quotes.svg" alt="author-img">
        <div class="content">
            <div class="quote">
                <span>{{arrTestimonials[$index].quote}}</span>
            </div>
            <div class="author">
                <div class="divider-author"></div>
                <span>{{arrTestimonials[$index].name}}</span>
            </div>
        </div>
        <div class="profile">
            <div class="avatar"
                [ngStyle]="{'background-image' : 'url(/images/profiles/'+ arrTestimonials[$index].img + ')'}">
            </div>
            <div class="divider"></div>
        </div>
    </div>
    }

    <div class="carousel">
        <button class="arrow-left" aria-label="Previous" (click)="prev()"></button>
        <div class="dots">
            <div class="dot" [ngClass]="currentIndex == 0 ? 'active' : '' "></div>
            <div class="dot" [ngClass]="currentIndex == 1 ? 'active' : '' "></div>
            <div class="dot" [ngClass]="currentIndex == 2 ? 'active' : '' "></div>
        </div>
        <button class="arrow-right" aria-label="Next" (click)="next()"></button>
    </div>
</section>