@use './app/styles/variables' as *;

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  height: 100dvh;
  background-color: $bg-darkblue;
  color: white;
  @media (min-width: 1440px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

app-root {
  display: block;
  min-height: 100%;
}

h2 {
  font-size: 80px;

  @media (max-width: 728px) and (orientation: portrait) {
    font-size: 68px;
  }

  @media (max-width: 915px) and (orientation: landscape) {
    font-size: 68px;
  }

  @media (max-width: 600px) {
    font-size: 56px;
  }

  @media (max-width: 500px) {
    font-size: 48px;
  }

  @media (max-width: 420px) {
    font-size: 40px;
  }

  @media (max-width: 360px) {
    font-size: 36px;
  }
}

h3 {
  font-size: 32px;

  @media (max-width: 500px) {
    font-size: 24px;
  }
}

.site-padding {
  padding: 0 80px;

  @media (max-width: 1080px) {
    padding: 0 48px;
  }
  @media (max-width: 600px) {
    padding: 0 32px;
  }

  @media (max-width: 420px) {
    padding: 0 32px;
  }

  @media (max-width: 360px) {
    padding: 0 24px;
  }
}

.dNone {
  display: none;
}

.dNone-max-1080 {
  @media (max-width: 1080px) {
    display: none !important;
  }
}

.dNone-min-1081 {
  @media (min-width: 1081px) {
    display: none !important;
  }
}

.max-width {
  max-width: 1680px;
}

.scroll-margin {
  scroll-margin-top: 160px;

  @media (max-width: 1080px) {
    scroll-margin-top: 140px;
  }
  @media (max-width: 680px) {
    scroll-margin-top: 100px;
  }
}
