@use '../../styles/variables' as *;

.portfolio {
  scroll-margin-top: 160px;
  margin-bottom: 80px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.header-headline {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

h2 {
  white-space: nowrap;
  padding: 0 32px;

  @media (max-width: 360px) {
    padding: 0 16px;
  }
}

.devider-left {
  display: flex;
  justify-self: end;
  align-items: center;

  > div {
    width: 80px;
    height: 4px;
    border-radius: 2px;
    background: $bright-purple;
  }

  @media (max-width: 600px) {
    width: 48px;
  }

  @media (max-width: 360px) {
    width: 100%;
    justify-self: stretch;
    > div {
      width: 100%;
    }
  }
}

.devider-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  > div {
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: $bright-purple;
  }
}

.subline {
  margin-left: 86px;
  @media (max-width: 930px) {
    margin-left: 0;
    padding: 0 48px;
    text-align: center;
  }

  @media (max-width: 600px) {
    padding: 0 32px;
  }

  @media (max-width: 360px) {
    padding: 0 24px;
    font-size: 14px !important;
  }
}

.bg-bright-purple {
  background-color: $bright-purple;
}

.flex-right {
  display: flex;
  justify-content: end;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  @media (max-width: 930px) {
    gap: 40px;
  }
}
