@use '../../styles/variables' as *;

.portfolio {
  margin-bottom: 80px;
  position: relative;
}

.header {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.header-headline {
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

h2 {
  white-space: nowrap;
  padding: 0 32px;
  transition: all 0.35s ease;
  transform: translateY(100px);

  @media (max-width: 360px) {
    padding: 0 16px;
  }
}

.title-animate {
  > h2 {
    transform: translateY(0) !important;
  }

  > .devider-left {
    transform: translateX(0);
  }

  > .devider-right {
    transform: translateX(0);
  }
}

.devider-left {
  display: flex;
  justify-self: end;
  align-items: center;
  transition: all 0.35s ease;
  transform: translateX(-100vw);
  > div {
    width: 80px;
    height: 4px;
    border-radius: 2px;
    background: $bright-purple;
  }

  @media (max-width: 600px) {
    width: 48px;
  }

  @media (max-width: 360px) {
    width: 100%;
    justify-self: stretch;
    > div {
      width: 100%;
    }
  }
}

.devider-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.35s ease;
  transform: translateX(100vw);

  > div {
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: $bright-purple;
  }
}

.subline {
  margin-left: 86px;
  @media (max-width: 930px) {
    margin-left: 0;
    padding: 0 48px;
    text-align: center;
  }

  @media (max-width: 600px) {
    padding: 0 32px;
  }

  @media (max-width: 360px) {
    padding: 0 24px;
    font-size: 14px !important;
  }
}

.bg-bright-purple {
  background-color: $bright-purple;
}

.flex-right {
  display: flex;
  justify-content: end;
}

.projects {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-image: url('/images/shadows/purple_shadow_portfolio.svg');
  background-repeat: no-repeat;
  background-position: left -500px center;
  background-size: 1000px;

  @media (max-width: 930px) {
    gap: 40px;
  }
}

.shadow-green-top {
  top: -400px !important;
  position: absolute;
  overflow: hidden;
  height: auto;
  width: 100%;
  pointer-events: none;
  > img {
    transform: translateX(-600px);
  }
}

.shadow-green-bottom {
  display: flex;
  flex-direction: row-reverse;
  bottom: -600px;
  position: absolute;
  overflow: hidden;
  height: auto;
  width: 100%;
  pointer-events: none;
  > img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1) translateX(-600px);
  }
}
