@use '../../styles/variables' as *;

.portfolio {
  margin-bottom: 80px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.header-headline {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

h2 {
  white-space: nowrap;
  padding: 0 32px;
}

.devider-left {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  > div {
    height: 4px;
    border-radius: 2px;
    width: 80px;
    background-color: $bright-purple;
  }
}

.devider-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  > div {
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: $bright-purple;
  }
}

.subline {
  margin-left: 32px;
}

.bg-bright-purple {
  background-color: $bright-purple;
}

.flex-right {
  display: flex;
  justify-content: end;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  @media (max-width: 930px) {
    gap: 40px;
  }
}
